@using BlogApp.Data.Models;
@model IEnumerable<Article>


@helper ShortenContent(string data)
{
    if (data.Length > 300)
    {
        @data.Substring(0, 300)
    }
    else
    {
        @data
    }
}

<div class="blog-posts col-blog">

    @foreach (Article article in Model)
    {
        <div class="post row">
            <div class="col-sm-4">
                <figure>
                    <a href="/Article/Detail/@article.ArticleId">
                        <div class="text-overlay">
                            <div class="info"><span>Daha Fazla</span></div>
                        </div>
                        <img src="@article.Image.MediumSize" alt="" />
                    </a>
                </figure>
            </div>
            <div class="col-sm-8 post-content">
                <div class="meta">
                    <span class="date">@article.CreateDate.ToShortDateString()</span><span class="comments">
                        <a href="#">
                            @article.Comments.Count
                        <i class="icon-chat-1"></i>
                    </a>
                </span>
            </div>
            <h2 class="post-title"><a href="/Article/Detail/@article.ArticleId">@article.Header</a></h2>
            <p>
                @ShortenContent(article.Content)

            </p>
        </div>
    </div>
}
</div>